.formControl {
    position: relative;
    margin: 12px;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../resources/images/wemeet.png') no-repeat 50%/cover;
    z-index: -100;
    filter: blur(1px) opacity(35%);
}
#libellé {
    padding : 30px 30px;
}
#inscription:hover {
    box-shadow: 1px 0 11px #333;
    
}

#inscription {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'la1 i1'
    'la2 ta'
    'la3 i2'
    'la4 cb'
    'bt bt';
    border: 1px solid ;
    margin: 12px;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 3px #333;
    width: 50%;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(228, 228, 228, 0.349);
    transition: 0.4s ease-in;
    

    label {
       font-size: 19px;

    }
    input[type="text"] {
        height: 45px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);

        
    }
    input, textarea {
        margin: 5px;
        padding: 10px;
        outline: none;
        font-family: inherit;
        border-radius: inherit;
        border: 1px solid;
        transition: 0.4s ease;
        
    }
    input:hover, textarea:hover {
        transform: scale(0.97);
    }
    textarea{
        resize: none;
        grid-area: ta;
        height: 4rem;
        margin-top: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);

    }
    #submit {
        grid-area: bt;
    }
    input[type="submit"] {
        
        cursor: pointer;
        background: transparent #705d09;
        color: rgb(10, 6, 6);
        transition: 0.4s ease;
        width: 25%;
        border-radius: 4px;
        outline: none;
        
    }
    input[type="submit"]:hover {
        box-shadow: inset 0 0 0 30px #8d7610, 1px 1px 3px #333;
        color: rgb(247, 239, 239);
        transform: translateX(4px);
       
    }
    input[type="submit"]:active {
        transform: scale(0.95);
    }
    input[type="checkbox"] {
        cursor: pointer;
        grid-area: cb;
    }
   
}

#liveToast {
    background: rgb(238, 221, 191);
    visibility: visible;
    border: 1px solid black;
    border-radius: 6px;
    height: 8rem;
    // position: relative;
    transition: 0.4s;
    width: 100%;
    
}
.headToast {
    background: rgb(236, 160, 28);
    width: 100%;
    display: flex;
}
.background{
    position: relative;
}
#error {
    position: absolute;
    bottom: -44rem;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
}