.iconMenu:hover{
  cursor: pointer;
}
.iconMenu {
  text-align: right;
}
.iconDelete{
  width: 150%;
}
.liste:hover {
  color: aliceblue;
  background-color: #a8840b;
}
.iconMenu .btn-light {
  height: 30px;
  width: 40px;
  
}

.errorMessage{
  color: coral;
  position: absolute;
  align-content: center;
  width: 50%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
}
ul a, span a{
  text-decoration: none;
  color: black;
}
.linkSeeMore{
  color: goldenrod;
}
.linkSeeMore:hover {
  text-decoration: underline;
  color: #ad9927;
}
a:hover{
  color: black;
  text-decoration: none;
  
}
.footer {
  position: inherit;
  background-color: lightgray;
  padding-top: 20px;
  height: 70px;
  width: 100%;
  bottom: 0;
  z-index: -5;
}

.footer .container .footer-item a li {
  display: inline-flex;
  margin: 0 10px;
}

.vide {
  height: 260px;
}
#bar {
  height: 60px;
}
.light-gold-color{
  background-color: rgb(216, 172, 114);
}
.gold-color{
  background-color: rgb(201, 142, 66);
}

.main-page {
  height: 570px;
  background-color: rgb(201, 142, 66);
}

.spaceTitle {
  background-color: rgb(216, 172, 114);
  padding-left: 200px;
  height: 40px;
  
}
.radius {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.titleLogo {
  font-family: Montserrat;

}

.form-group{
  padding-top: 200px;
  width: 40%;
  margin: 0 auto;
}

.input {
  padding-bottom: 12px;
}

.leftPosition {
  position: relative;
  left: 250px;

}

#compte {
  position: relative;
  left: 100px;
}

.menuUser{
  position: relative;
  left: 100px;
}

.body-home {
  background-image: url('./resources/images/wemeet.png');
  height: 400px;
  margin: -8px -12px -8px -12px;
  background-size: 1500px;
}

@media screen and (min-width: 900px) {
  .input {
    padding-bottom: 12px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .leftPosition {
    position: relative;
    left: 600px;
  }
  #compte {
    position: relative;
    left: 300px;
  }
}


.my-btn {
  color: black;
  background-color: rgb(201, 142, 66);
  padding: 4px;
  width: 40%;
  border: blanchedalmond;
  transition: .3s ease-in;
}
.my-btn:hover{
  background-color: rgb(209, 135, 37);
  transform: scale(0.97);
}

.text-center {
  margin: 0 auto;
  padding-bottom: 16px;
}

h2, h1, h3, h4, h5, h6 {
  font-family: 'myFont';
}

.blockTitleLogo {
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  
}

@font-face {
  font-family: 'myFont';
  src: url(resources/font/myFont.otf);
  font-style: normal;
}

.body {
  font-family: 'myFont';
}

.my-nav-item {
  justify-content: flex-end;
}

ul .nav-item:hover {
  background-color: rgb(201, 142, 66);
}

.ico {
  position: relative;
  text-align: left;
}
.icon {
  padding-right: 10px;
}

.div-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 
}

/* home */


#mini-form {
  padding-left: 100px;
  padding-right: 100px;
}

#titleHome{
  padding-top: 50px;
  padding-bottom: 50px;
  color: aliceblue;
  text-shadow: black 1px 1px 1px,
  black -1px 1px 1px,
  white -1px -1px 1px,
  black 1px -1px 1px;
}

.item-event {
  padding-top: 20px;
}
.activate {
  text-shadow: goldenrod 1px 1px 1px,
  goldenrod -1px 1px 1px,
  black -1px -1px 1px,
  black 1px -1px 1px;
}
.main-nav:hover {
  color: gold;
}

.block-event {
  width: 130%;
}
.single-event {
  transition: 0.5s ease-in-out;
}

.single-event:hover {
  transform: scale(0.94);
  background: rgba(173, 154, 118, 0.548);
  color: #a8840b;
  box-shadow: 0 0 17px black;
}

.block-event div {
  margin-right: 5px;
  margin-top: 15px;
}

.loading {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* pagination youtube*/

.paginate {
  padding-top: 20px;
  width: 20%;
  height: 20px;
  padding-left: 80px;
  justify-content: flex-end;
}

.paginate a {
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid #a8840b;
  color: #dddabe;
  cursor: pointer;
}

.paginate a:hover {
  color: white;
  background-color: #ad921a;
}

.paginationActive a {
  color: rgb(22, 22, 15);
  background-color: #ad9927;
}

.paginationDisabled a {
  color: rgb(87, 85, 85);
  background-color: rgb(150, 150, 144);
}

.userIcon {
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity .4s;
  visibility: hidden;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 6rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.popup .cross
{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: #333;
}

